body {
  background-color: bisque;
  color: black;
  text-align: center;
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
}

.container {
  margin: 0px auto;
  margin-top: 10%;
  margin-bottom: 50px;
  width: 50%;
  max-width: 600px;
}

.add-button {
  background-color: black;
  padding: 10px 15px;
  text-decoration: none;
  border-radius: 10px;
  color: #F5F5F5;
}

.input-form {
  margin-top: 25px;
  color: black;
  font-size: 13px;
  padding: 15px;
  border-radius: 10px;
  border: solid;
  width: 90%;
  max-width: 500px;

}

.del {
  color: white;
  background-color: red;
}

.title-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 0 40px;
}

/* .menu-item {
  background-color: white;
  margin: 20px auto;
  padding: 10px;
  border-radius: 10px;
  color: black;
  list-style: none;
  width: 100%;
  text-decoration: none;
} */


/* .menu-item .link {
  color: #F5F5F5;
  text-decoration: none;
  font-size: 5px;
}

.menu-item .link:hover {
  color: #1C90F4;
} */

.text-button-delete {
  color: red;
}

.text-button-delete:hover {
  cursor: pointer;
}

.btn {
  padding: 15px;
  width: 25%;
  font-size: 15px;
  margin: 0px 10px;
  border: none;
  border-radius: 10px;
  color: black;
}

.aver {
  font-size: 15px;
  color: red;
}

.lien {
  font-size: 15px;
  margin-left: 500px;
}

.btn-primary {

  color: white;
  width: 500px;

}





.dow {
  margin-top: 50px;
}

.dow1 {
  margin-top: 20px;
}

.card {
  background-color: #03141D;
  margin: 20px auto;
  padding: 10px;
  border-radius: 10px;
  list-style: none;
  text-decoration: none;
}

.card-body {
  padding: 10px;
}

.card-title {
  color: #F5F5F5;
  text-decoration: none;
  font-size: 35px;
}

.cartd-text {
  color: #F5F5F5;
  text-decoration: none;
  font-size: 25px;
}

.form-group {
  margin: 10px 0px;
}

.form-control {
  padding: 10px;
  width: 100%;
  font-size: 16px;
  margin: 0px 10px;
  border: none;
  border-radius: 10px;
  color: #fff;
  background-color: #0D3045;
}

/* Réinitialisation des marges et des paddings pour l'ul et les li */
.user-list {
  list-style: none;
  padding: 0;

  margin: 0;
}

/* Flexbox pour positionner les éléments en ligne */
.user-list1 li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;

  border-bottom: 1px solid #ccc;
  /* Ligne de séparation entre les utilisateurs */
}

.user-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-size: 14px;
  border-bottom: 1px solid #ccc;
  /* Ligne de séparation entre les utilisateurs */
}

/* Styles pour le nom de l'utilisateur à gauche */
.user-name {
  margin-right: 50px;
  size: 10px;
  /* Le nom de l'utilisateur prendra tout l'espace disponible à gauche */
}

.user-name1 {
  margin-right: 50px;
  color: black;
  /* Le nom de l'utilisateur prendra tout l'espace disponible à gauche */
}

/* Styles pour le bouton de modification à droite */
.edit-button {

  /* Espacement entre le nom de l'utilisateur et le bouton */

  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.point {
  margin-left: 50px;
  display: block;
  /* Espacement entre le nom de l'utilisateur et le bouton */
  padding: 8px 16px;
  color: black;


}

.point1 {
  margin-left: 50px;
  display: flex;
  color: black;
  /* Espacement entre le nom de l'utilisateur et le bouton */
  padding: 8px 16px;


}

.green-icon {
  color: hwb(39 0% 0% / 0.674);
  font-size: 50px;
  /* Couleur verte pour l'icône de sourire */
}

.blue-icon {
  color: blue;
  font-size: 50px;
  /* Couleur verte pour l'icône de sourire */
}

h6 {
  color: red;
}

.jeu {
  margin-right: 700px;
  text-align: center;
  margin-top: 50px;

  color: #45a049;
}



h5 {
  font-size: 14px;
}






th {
  color: crimson;
}

.img1 {
  max-width: 45px;
  /* Définir la largeur maximale de l'image */
  max-height: 45px;
  /* Définir la hauteur maximale de l'image */
}

.link1 {
  margin-left: 800px;
}

.link2 {
  margin-right: 900px;
}



/* CSS pour le tableau */
.table {
  width: 70%;
  margin: auto;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
}

/* Style de l'en-tête du tableau */
.table th {
  background-color: #f2f2f2;
  padding: 10px;

  font-weight: bold;

}

/* Style des cellules du tableau */
.table td {
  padding: 4px;
  border-bottom: 1px solid #ccc;
}

/* Style des lignes impaires du tableau (facultatif) */
.table tr:nth-child(odd) {
  background-color: #f9f9f9;
}



.navbar {
  height: 100vh;
  /* Hauteur de la navbar pour occuper toute la hauteur de l'écran */
  width: 100px;
  /* Largeur de la navbar */
  background-color: #333;
  /* Couleur de fond */
  color: #fff;
  /* Couleur du texte */
  padding-top: 20px;
}

.navbar a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: #fff;
}

.navbar a:hover {
  background-color: #555;
  /* Couleur de fond lors du survol */
}

.navbar .active {
  background-color: #4CAF50;
  /* Couleur de fond de l'élément actif */
}

.content {
  margin-left: 200px;
  /* Marge à gauche pour dégager l'espace de la navbar */
  padding: 0;
  margin-top: 500px;
}

/* body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
} */


/* CSS de base pour le bouton */
.btnjeu {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #4CAF50;
  /* Couleur de fond par défaut */
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Effet de survol */
.btnjeu:hover {
  background-color: #45a049;
  /* Nouvelle couleur de fond lors du survol */
}

/* Effet d'appui (lorsqu'on clique sur le bouton) */
.btnjeu:active {
  background-color: #3e8e41;
  /* Nouvelle couleur de fond lorsqu'on clique */
}